name = "jant-site"
main = "src/index.ts"
compatibility_date = "2026-01-20"
compatibility_flags = ["nodejs_compat"]

[dev]
port = 9019

[vars]
SITE_URL = "http://localhost:9019"

[[d1_databases]]
binding = "DB"
database_name = "jant-site-db"
database_id = "local"
migrations_dir = "migrations"

[[r2_buckets]]
binding = "R2"
bucket_name = "jant-site-media"

# ===================
# Demo Environment
# ===================
[env.demo]
name = "jant-demo"

[env.demo.vars]
SITE_URL = "https://demo.jant.me"

[[env.demo.d1_databases]]
binding = "DB"
database_name = "jant-demo-db"
database_id = "fb835831-d594-4b2f-be54-ce036cf7f2b1"
migrations_dir = "migrations"

[[env.demo.r2_buckets]]
binding = "R2"
bucket_name = "jant-demo-media"
