name: Deploy Demo

on:
  push:
    branches:
      - main
    paths:
      - "packages/core/**"
      - "templates/jant-site/**"
      - ".github/workflows/deploy.yml"
      - ".github/workflows/deploy-demo.yml"
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to demo.jant.me
    uses: ./.github/workflows/deploy.yml
    with:
      environment: demo
      working_directory: templates/jant-site
    secrets:
      CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
      CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
      AUTH_SECRET: ${{ secrets.DEMO_AUTH_SECRET }}
